* {
    margin: 0;
}

.body {

}

.header {
    width: 1440px;
    height: 389px;
    background: #D9D9D9;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.header_logo {
    width: 394px;
    height: 181px;
}

.header_title {
    width: 317px;
    height: 118px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #E0C226 0%, rgba(228, 144, 31, 0.92) 27.6%, rgba(233, 91, 23, 0.84) 56.77%, rgba(236, 53, 18, 0.78) 77.6%, rgba(239, 12, 12, 0.72) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header_contacs {
    width: 60px;
    height: 60px;
    
    margin-top: 114px;
    margin-right: 272px;
}

.header_cellnumber {
    width: 336px;
    height: 44px;

    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}